live-workflow-export.json
[{"updatedAt":"2026-03-02T02:49:02.000Z","createdAt":"2026-03-02T01:43:37.351Z","id":"DJXtUlHws7xs3tOA","name":"Repository Summarizer + Auto-Reviewer Bot","description":null,"active":true,"isArchived":false,"nodes":[{"id":"node-webhook-auto","name":"Webhook Auto","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-860,-220],"parameters":{"httpMethod":"POST","path":"github-repo-review-auto","responseMode":"onReceived","options":{}},"onError":"continueRegularOutput","webhookId":"repo-review-auto"},{"id":"node-webhook-manual","name":"Webhook Manual","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-860,20],"parameters":{"httpMethod":"POST","path":"github-repo-review-manual","responseMode":"onReceived","options":{}},"onError":"continueRegularOutput","webhookId":"repo-review-manual"},{"id":"node-normalize-input","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,-100],"parameters":{"language":"javaScript","mode":"runOnceForAllItems","jsCode":"const inputItems = $input.all();\nconst outputs = [];\n\nfor (const item of inputItems) {\n  const body = item.json.body ?? item.json;\n  const headers = item.json.headers ?? {};\n  const receivedAt = new Date().toISOString();\n\n  const githubEvent = String(headers['x-github-event'] || headers['X-GitHub-Event'] || '').toLowerCase();\n\n  if (body && body.repository && (githubEvent || body.ref || body.action || body.zen)) {\n    const owner = body.repository?.owner?.login || body.repository?.owner?.name || '';\n    const repo = body.repository?.name || '';\n\n    const eventAction = githubEvent || (body.action ? String(body.action).toLowerCase() : (body.ref ? 'push' : 'repository_event'));\n    const allowedEvents = ['push', 'repository_dispatch', 'workflow_dispatch'];\n    const ref = String(body.ref || body.repository?.default_branch || '').replace(/^refs\\/heads\\//, '');\n\n    outputs.push({\n      json: {\n        skip: !owner || !repo || !allowedEvents.includes(eventAction),\n        skip_reason: (!owner || !repo)\n          ? 'Repository owner/name missing in webhook payload.'\n          : (allowedEvents.includes(eventAction)\n              ? ''\n              : `Ignoring repository event: ${eventAction || 'unknown'}. Supported: push, repository_dispatch, workflow_dispatch.`),\n        trigger_mode: 'automatic',\n        event_action: eventAction || 'unknown',\n        owner,\n        repo,\n        ref,\n        repo_identifier: owner && repo ? `${owner}/${repo}` : 'unknown',\n        received_at: receivedAt,\n      },\n    });\n    continue;\n  }\n\n  const repoUrl = body?.repo_url || body?.repository_url || body?.url || body?.repoUrl || body?.repositoryUrl || '';\n  const match = typeof repoUrl === 'string'\n    ? repoUrl.match(/^https?:\\/\\/github\\.com\\/([^\\/]+)\\/([^\\/#?]+)(?:[\\/#?].*)?$/i)\n    : null;\n\n  if (!match) {\n    outputs.push({\n      json: {\n        skip: true,\n        skip_reason: 'Manual mode requires a valid GitHub repository URL in body.repo_url, e.g. https://github.com/owner/repo',\n        trigger_mode: 'manual',\n        event_action: 'manual_request',\n        owner: '',\n        repo: '',\n        ref: '',\n        repo_identifier: 'unknown',\n        received_at: receivedAt,\n      },\n    });\n    continue;\n  }\n\n  const owner = match[1];\n  const repo = match[2].replace(/\\.git$/i, '');\n  const ref = String(body?.ref || body?.branch || '').replace(/^refs\\/heads\\//, '');\n\n  outputs.push({\n    json: {\n      skip: false,\n      skip_reason: '',\n      trigger_mode: 'manual',\n      event_action: 'manual_request',\n      owner,\n      repo,\n      ref,\n      repo_identifier: `${owner}/${repo}`,\n      received_at: receivedAt,\n    },\n  });\n}\n\nreturn outputs;"}},{"id":"node-should-process","name":"Should Process Event","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-300,-100],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"condition-process-event","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ !$json.skip }}","rightValue":""}]},"options":{}},"onError":"continueErrorOutput"},{"id":"node-review-notify","name":"PR Review + Notify","type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,-220],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"parameters":{"language":"javaScript","mode":"runOnceForAllItems","jsCode":"const input = $input.first().json;\nconst env = (typeof $env !== 'undefined' && $env) ? $env : (process.env || {});\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.lastReviewedByRepo || typeof staticData.lastReviewedByRepo !== 'object') staticData.lastReviewedByRepo = {};\nif (!Array.isArray(staticData.auditLog)) staticData.auditLog = [];\n\nconst nowIso = () => new Date().toISOString();\nlet repoIdentifier = input.repo_identifier || 'unknown';\nlet commitSha = 'unknown';\n\nconst clean = (v) => (typeof v === 'string' ? v.replace(/\\s+/g, ' ').trim() : '');\nconst asList = (arr, maxItems = 8, maxLen = 220) => (Array.isArray(arr) ? arr : [])\n  .map(clean)\n  .filter(Boolean)\n  .slice(0, maxItems)\n  .map((v) => (v.length > maxLen ? `${v.slice(0, maxLen - 3)}...` : v));\nconst ensureRisk = (r) => {\n  const x = clean(r).toLowerCase();\n  return x === 'low' || x === 'medium' || x === 'high' ? x : 'medium';\n};\nconst addUnique = (arr, value) => {\n  const x = clean(value);\n  if (!x) return;\n  if (!arr.includes(x)) arr.push(x);\n};\nconst audit = (riskLevel, messageLink = '', note = '') => {\n  const entry = {\n    timestamp: nowIso(),\n    repo_identifier: repoIdentifier,\n    commit_sha: commitSha,\n    risk_level: riskLevel,\n    message_link: messageLink || '',\n  };\n  if (note) entry.note = note;\n  staticData.auditLog.unshift(entry);\n  staticData.auditLog = staticData.auditLog.slice(0, 500);\n  return entry;\n};\nconst wait = async (ms) => new Promise((resolve) => setTimeout(resolve, ms));\n\nconst requestWithRetry = async (options, label) => {\n  const attempts = Math.max(1, Number(env.HTTP_MAX_ATTEMPTS || 3));\n  const baseDelay = Math.max(200, Number(env.HTTP_RETRY_BASE_MS || 1000));\n\n  for (let attempt = 1; attempt <= attempts; attempt++) {\n    try {\n      if (this?.helpers?.httpRequest) {\n        return await this.helpers.httpRequest(options);\n      }\n      throw new Error('Code node HTTP helper is unavailable in this n8n runtime');\n    } catch (e) {\n      const status = e?.statusCode || e?.response?.statusCode || e?.response?.status || 0;\n      const msg = e?.response?.body?.message || e?.message || 'Unknown request failure';\n      const retryable = status === 0 || status === 429 || status >= 500 || status === 403;\n      if (!retryable || attempt === attempts) {\n        throw new Error(`${label} failed after ${attempt} attempt(s). Status=${status || 'n/a'}. ${msg}`);\n      }\n      await wait(baseDelay * Math.pow(2, attempt - 1));\n    }\n  }\n};\n\nconst encodePath = (p) => String(p).split('/').map((s) => encodeURIComponent(s)).join('/');\nconst decodeBase64 = (v) => Buffer.from(String(v || '').replace(/\\n/g, ''), 'base64').toString('utf8');\n\ntry {\n  const destination = (clean(env.DESTINATION_MODE) || 'discord').toLowerCase();\n  const githubToken = clean(env.GITHUB_TOKEN);\n  const openaiKey = clean(env.OPENAI_API_KEY);\n  const discordWebhook = clean(env.DISCORD_WEBHOOK_URL);\n  const slackWebhook = clean(env.SLACK_WEBHOOK_URL);\n\n  if (!githubToken) throw new Error('Missing required env var GITHUB_TOKEN');\n  if (!openaiKey) throw new Error('Missing required env var OPENAI_API_KEY');\n  if (destination === 'slack' && !slackWebhook) throw new Error('DESTINATION_MODE=slack but SLACK_WEBHOOK_URL is missing');\n  if (destination !== 'slack' && !discordWebhook) throw new Error('DESTINATION_MODE=discord but DISCORD_WEBHOOK_URL is missing');\n  if (!input.owner || !input.repo) throw new Error('Normalized payload missing owner/repo');\n\n  repoIdentifier = `${input.owner}/${input.repo}`;\n  const timeoutMs = Math.max(1000, Number(env.HTTP_TIMEOUT_MS || 30000));\n  const ghHeaders = {\n    Authorization: `Bearer ${githubToken}`,\n    Accept: 'application/vnd.github+json',\n    'X-GitHub-Api-Version': '2022-11-28',\n    'User-Agent': 'n8n-repo-review-bot',\n  };\n\n  const repo = await requestWithRetry({\n    method: 'GET',\n    url: `https://api.github.com/repos/${input.owner}/${input.repo}`,\n    headers: ghHeaders,\n    json: true,\n    timeout: timeoutMs,\n  }, 'Get repository metadata');\n\n  const branchInput = clean(input.ref).replace(/^refs\\/heads\\//, '');\n  const branch = branchInput || clean(repo.default_branch) || 'main';\n\n  const head = await requestWithRetry({\n    method: 'GET',\n    url: `https://api.github.com/repos/${input.owner}/${input.repo}/commits/${encodeURIComponent(branch)}`,\n    headers: ghHeaders,\n    json: true,\n    timeout: timeoutMs,\n  }, 'Get branch head commit');\n\n  commitSha = clean(head?.sha) || 'unknown';\n  const dedupeKey = `${repoIdentifier}@${branch}`;\n  const isAutomatic = input.trigger_mode === 'automatic';\n  if (isAutomatic && staticData.lastReviewedByRepo[dedupeKey] && commitSha !== 'unknown' && staticData.lastReviewedByRepo[dedupeKey] === commitSha) {\n    const entry = audit('duplicate_skip', '', 'Same commit already reviewed; skipped to prevent spam.');\n    return [{ json: { skipped: true, reason: 'Duplicate commit SHA, skipped.', repo_identifier: repoIdentifier, branch, commit_sha: commitSha, audit_entry: entry } }];\n  }\n\n  let languages = {};\n  try {\n    languages = await requestWithRetry({\n      method: 'GET',\n      url: `https://api.github.com/repos/${input.owner}/${input.repo}/languages`,\n      headers: ghHeaders,\n      json: true,\n      timeout: timeoutMs,\n    }, 'Get repository languages');\n  } catch {\n    languages = {};\n  }\n\n  const treeResp = await requestWithRetry({\n    method: 'GET',\n    url: `https://api.github.com/repos/${input.owner}/${input.repo}/git/trees/${encodeURIComponent(branch)}?recursive=1`,\n    headers: ghHeaders,\n    json: true,\n    timeout: timeoutMs,\n  }, 'Get repository file tree');\n\n  const allBlobs = Array.isArray(treeResp?.tree) ? treeResp.tree.filter((n) => n && n.type === 'blob' && n.path) : [];\n\n  const excludeRe = [/^\\.git\\//i, /^node_modules\\//i, /^dist\\//i, /^build\\//i, /^coverage\\//i, /^vendor\\//i, /^\\.next\\//i, /^out\\//i, /^target\\//i];\n  const isExcluded = (p) => excludeRe.some((re) => re.test(p));\n  const allowedExt = ['.md','.txt','.js','.ts','.tsx','.jsx','.py','.java','.go','.rb','.php','.cs','.json','.yml','.yaml','.toml','.ini','.env','.sql','.sh','.ps1','.gradle'];\n  const specialNames = ['dockerfile','makefile','readme','license'];\n  const hasAllowedType = (p) => {\n    const lower = String(p).toLowerCase();\n    if (specialNames.some((n) => lower.endsWith(n))) return true;\n    return allowedExt.some((ext) => lower.endsWith(ext));\n  };\n\n  const priorityPaths = [\n    'README.md', 'README', 'package.json', 'package-lock.json', 'pnpm-lock.yaml', 'yarn.lock',\n    'pyproject.toml', 'requirements.txt', 'Pipfile', 'go.mod', 'pom.xml', 'build.gradle',\n    'Dockerfile', 'docker-compose.yml', 'docker-compose.yaml', '.github/workflows/ci.yml',\n    '.github/workflows/main.yml', '.env.example'\n  ];\n\n  const blobByPath = new Map();\n  for (const b of allBlobs) blobByPath.set(String(b.path), b);\n\n  const selectedPaths = [];\n  const addPath = (p) => {\n    if (!p || selectedPaths.includes(p) || isExcluded(p)) return;\n    selectedPaths.push(p);\n  };\n\n  for (const p of priorityPaths) {\n    if (blobByPath.has(p)) addPath(p);\n  }\n\n  const maxRepoFiles = Math.max(5, Number(env.MAX_REPO_FILES || 20));\n  const candidates = allBlobs\n    .map((b) => ({ path: String(b.path), size: Number(b.size || 0) }))\n    .filter((b) => !isExcluded(b.path) && hasAllowedType(b.path))\n    .sort((a, b) => a.path.length - b.path.length || a.size - b.size);\n\n  for (const c of candidates) {\n    if (selectedPaths.length >= maxRepoFiles) break;\n    addPath(c.path);\n  }\n\n  const maxRepoChars = Math.max(4000, Number(env.MAX_REPO_CHARS || 24000));\n  const maxFileChars = Math.max(500, Number(env.MAX_REPO_FILE_CHARS || 4000));\n  let usedChars = 0;\n  const fileSnapshots = [];\n  const unavailableFiles = [];\n  const truncatedFiles = [];\n\n  for (const path of selectedPaths) {\n    if (usedChars >= maxRepoChars) {\n      truncatedFiles.push(path);\n      continue;\n    }\n\n    try {\n      const fileData = await requestWithRetry({\n        method: 'GET',\n        url: `https://api.github.com/repos/${input.owner}/${input.repo}/contents/${encodePath(path)}?ref=${encodeURIComponent(branch)}`,\n        headers: ghHeaders,\n        json: true,\n        timeout: timeoutMs,\n      }, `Get file content ${path}`);\n\n      if (!fileData || fileData.type !== 'file' || fileData.encoding !== 'base64' || typeof fileData.content !== 'string') {\n        unavailableFiles.push(path);\n        continue;\n      }\n\n      let text = '';\n      try {\n        text = decodeBase64(fileData.content);\n      } catch {\n        unavailableFiles.push(path);\n        continue;\n      }\n\n      if (!text || /\\x00/.test(text)) {\n        unavailableFiles.push(path);\n        continue;\n      }\n\n      const remaining = Math.max(0, maxRepoChars - usedChars);\n      const fileBudget = Math.min(maxFileChars, remaining);\n      let excerpt = text;\n      let coverage = 'full';\n      if (text.length > fileBudget) {\n        excerpt = text.slice(0, fileBudget);\n        coverage = 'truncated';\n        truncatedFiles.push(path);\n      }\n\n      usedChars += excerpt.length;\n      fileSnapshots.push({\n        path,\n        size: Number(fileData.size || 0),\n        excerpt,\n        coverage,\n      });\n    } catch {\n      unavailableFiles.push(path);\n    }\n  }\n\n  let recentCommits = [];\n  try {\n    recentCommits = await requestWithRetry({\n      method: 'GET',\n      url: `https://api.github.com/repos/${input.owner}/${input.repo}/commits?sha=${encodeURIComponent(branch)}&per_page=5`,\n      headers: ghHeaders,\n      json: true,\n      timeout: timeoutMs,\n    }, 'Get recent commits');\n  } catch {\n    recentCommits = [];\n  }\n\n  const commitSummaries = (Array.isArray(recentCommits) ? recentCommits : []).map((c) => ({\n    sha: clean(c?.sha).slice(0, 12),\n    author: clean(c?.commit?.author?.name),\n    message: clean(c?.commit?.message).split('\\n')[0],\n  })).filter((x) => x.sha && x.message);\n\n  const secretRegex = /(AKIA[0-9A-Z]{16}|-----BEGIN (?:RSA|EC|DSA|OPENSSH) PRIVATE KEY-----|api[_-]?key\\s*[:=]\\s*['\"][^'\"]{8,}|secret\\s*[:=]\\s*['\"][^'\"]{8,}|password\\s*[:=]\\s*['\"][^'\"]{6,}|xox[baprs]-[A-Za-z0-9-]{10,}|ghp_[A-Za-z0-9]{20,}|AIza[0-9A-Za-z\\-_]{35})/i;\n  const suspectedSecretExposure = fileSnapshots.some((f) => secretRegex.test(f.excerpt));\n\n  const reviewContext = {\n    repository: {\n      owner: input.owner,\n      repo: input.repo,\n      full_name: repo.full_name || repoIdentifier,\n      description: repo.description || '',\n      default_branch: repo.default_branch || branch,\n      branch,\n      url: repo.html_url || `https://github.com/${input.owner}/${input.repo}`,\n      visibility: repo.private ? 'private' : 'public',\n      stars: Number(repo.stargazers_count || 0),\n      forks: Number(repo.forks_count || 0),\n      open_issues: Number(repo.open_issues_count || 0),\n      pushed_at: repo.pushed_at || '',\n      topics: Array.isArray(repo.topics) ? repo.topics : [],\n      languages,\n      head_commit: commitSha,\n      recent_commits: commitSummaries,\n    },\n    files: {\n      total_blob_count: allBlobs.length,\n      selected_paths: selectedPaths,\n      sampled_files: fileSnapshots.map((f) => ({\n        path: f.path,\n        size: f.size,\n        coverage: f.coverage,\n        excerpt: f.excerpt,\n      })),\n      unavailable_files: unavailableFiles,\n      truncated_files: truncatedFiles,\n      limits: {\n        max_repo_files: maxRepoFiles,\n        max_repo_chars: maxRepoChars,\n        max_file_chars: maxFileChars,\n        included_chars: usedChars,\n      },\n      tree_truncated: Boolean(treeResp?.truncated),\n    },\n    limitations: {\n      sampled_file_count: fileSnapshots.length,\n      unavailable_file_count: unavailableFiles.length,\n      truncated_file_count: truncatedFiles.length,\n      limited_coverage: Boolean(treeResp?.truncated) || unavailableFiles.length > 0 || truncatedFiles.length > 0 || fileSnapshots.length === 0,\n    },\n    security_signals: {\n      suspected_secret_exposure: suspectedSecretExposure,\n    },\n  };\n\n  const schema = {\n    type: 'object',\n    additionalProperties: false,\n    required: ['summary','risk','risk_reasoning','architecture_observations','code_quality_findings','security_findings','test_coverage_gaps','recommended_next_steps','questions_for_maintainer'],\n    properties: {\n      summary: { type: 'string' },\n      risk: { type: 'string', enum: ['low','medium','high'] },\n      risk_reasoning: { type: 'array', items: { type: 'string' } },\n      architecture_observations: { type: 'array', items: { type: 'string' } },\n      code_quality_findings: { type: 'array', items: { type: 'string' } },\n      security_findings: { type: 'array', items: { type: 'string' } },\n      test_coverage_gaps: { type: 'array', items: { type: 'string' } },\n      recommended_next_steps: { type: 'array', items: { type: 'string' } },\n      questions_for_maintainer: { type: 'array', items: { type: 'string' } },\n    },\n  };\n\n  const aiResp = await requestWithRetry({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: {\n      Authorization: `Bearer ${openaiKey}`,\n      'Content-Type': 'application/json',\n    },\n    body: {\n      model: clean(env.OPENAI_MODEL) || 'gpt-4.1-mini',\n      temperature: 0.1,\n      messages: [\n        { role: 'system', content: [\n          'You are a senior software reviewer producing a repository review packet.',\n          'Use ONLY the provided repository metadata, commit summaries, and sampled file excerpts.',\n          'Do not hallucinate unseen files or implementation details.',\n          'If coverage is limited, explicitly state reduced confidence and what is missing.',\n          'Focus on architecture, maintainability, security, and testing gaps.',\n          'Return strict JSON with exactly these keys: summary, risk, risk_reasoning, architecture_observations, code_quality_findings, security_findings, test_coverage_gaps, recommended_next_steps, questions_for_maintainer.'\n        ].join('\\n') },\n        { role: 'user', content: `Repository context JSON:\\n${JSON.stringify(reviewContext)}` },\n      ],\n      response_format: {\n        type: 'json_schema',\n        json_schema: { name: 'repo_review_packet', strict: true, schema },\n      },\n    },\n    json: true,\n    timeout: Math.max(2000, Number(env.OPENAI_TIMEOUT_MS || 60000)),\n  }, 'Generate repository review packet');\n\n  const content = aiResp?.choices?.[0]?.message?.content;\n  let parsed = {};\n  if (typeof content === 'string') parsed = JSON.parse(content);\n  else if (content && typeof content === 'object') parsed = content;\n\n  const packet = {\n    summary: clean(parsed.summary) || 'Automated review could not produce a confident repository summary from available data.',\n    risk: ensureRisk(parsed.risk),\n    risk_reasoning: asList(parsed.risk_reasoning, 8),\n    architecture_observations: asList(parsed.architecture_observations, 8),\n    code_quality_findings: asList(parsed.code_quality_findings, 10),\n    security_findings: asList(parsed.security_findings, 10),\n    test_coverage_gaps: asList(parsed.test_coverage_gaps, 10),\n    recommended_next_steps: asList(parsed.recommended_next_steps, 10),\n    questions_for_maintainer: asList(parsed.questions_for_maintainer, 8),\n  };\n\n  if (reviewContext.limitations.limited_coverage) {\n    if (packet.risk === 'low') packet.risk = 'medium';\n    addUnique(packet.risk_reasoning, `Review coverage is limited: sampled ${reviewContext.limitations.sampled_file_count} file(s), ${reviewContext.limitations.unavailable_file_count} unavailable, ${reviewContext.limitations.truncated_file_count} truncated.`);\n    addUnique(packet.questions_for_maintainer, 'Can you share additional core files/modules for deeper review coverage?');\n  }\n\n  if (suspectedSecretExposure) {\n    packet.risk = 'high';\n    addUnique(packet.security_findings, 'Potential secret/token/private key exposure detected in sampled repository content.');\n    addUnique(packet.recommended_next_steps, 'Remove exposed secret material from repository content and configuration files.');\n    addUnique(packet.recommended_next_steps, 'Rotate compromised credentials and purge from git history if committed.');\n  }\n\n  if (packet.risk === 'high') {\n    addUnique(packet.recommended_next_steps, 'Require explicit human security review before production deployment.');\n    addUnique(packet.test_coverage_gaps, 'Add regression and security tests for critical code paths before release.');\n  }\n\n  const bullet = (arr) => (arr.length ? arr.map((x) => `- ${x}`).join('\\n') : '- None.');\n  let message = [\n    `Repository Review Packet for ${repoIdentifier}`,\n    `Branch: ${branch}`,\n    `Head: ${commitSha}`,\n    '',\n    '1) Summary',\n    packet.summary,\n    '',\n    '2) Risk + reasoning',\n    `Risk: ${packet.risk.toUpperCase()}`,\n    bullet(packet.risk_reasoning),\n    '',\n    '3) Architecture observations',\n    bullet(packet.architecture_observations),\n    '',\n    '4) Code quality findings',\n    bullet(packet.code_quality_findings),\n    '',\n    '5) Security findings',\n    bullet(packet.security_findings),\n    '',\n    '6) Test coverage gaps',\n    bullet(packet.test_coverage_gaps),\n    '',\n    '7) Recommended next steps',\n    bullet(packet.recommended_next_steps),\n    '',\n    '8) Questions for maintainer',\n    bullet(packet.questions_for_maintainer),\n  ].join('\\n');\n\n  if (packet.risk === 'high') {\n    message += '\\n\\nHigh-Risk Guidance:\\n- Human review is strongly required before release.\\n- Validate rollback/testing steps before deployment.\\n- Do not ship based only on this automated packet.';\n  }\n\n  \n  let postResp = {};\n  let messageLink = '';\n\n  if (destination === 'slack') {\n    postResp = await requestWithRetry({\n      method: 'POST',\n      url: slackWebhook,\n      headers: { 'Content-Type': 'application/json' },\n      body: { text: message },\n      json: true,\n      timeout: timeoutMs,\n    }, 'Post Slack message');\n  } else {\n    const discordUrl = discordWebhook.includes('?') ? `${discordWebhook}&wait=true` : `${discordWebhook}?wait=true`;\n\n    const splitForDiscord = (text, maxLen = 1900) => {\n      const lines = String(text || '').split('\\n');\n      const chunks = [];\n      let current = '';\n\n      for (const line of lines) {\n        const next = current ? `${current}\\n${line}` : line;\n        if (next.length <= maxLen) {\n          current = next;\n          continue;\n        }\n\n        if (current) chunks.push(current);\n\n        if (line.length <= maxLen) {\n          current = line;\n          continue;\n        }\n\n        let remaining = line;\n        while (remaining.length > maxLen) {\n          chunks.push(remaining.slice(0, maxLen));\n          remaining = remaining.slice(maxLen);\n        }\n        current = remaining;\n      }\n\n      if (current) chunks.push(current);\n      return chunks.length ? chunks : ['(empty message)'];\n    };\n\n    const discordChunks = splitForDiscord(message, 1900);\n    let firstResp = null;\n\n    for (let i = 0; i < discordChunks.length; i++) {\n      const resp = await requestWithRetry({\n        method: 'POST',\n        url: discordUrl,\n        headers: { 'Content-Type': 'application/json' },\n        body: { content: discordChunks[i] },\n        json: true,\n        timeout: timeoutMs,\n      }, `Post Discord message chunk ${i + 1}`);\n\n      if (!firstResp) firstResp = resp;\n    }\n\n    postResp = firstResp || {};\n\n    if (postResp?.id && postResp?.channel_id && postResp?.guild_id) {\n      messageLink = `https://discord.com/channels/${postResp.guild_id}/${postResp.channel_id}/${postResp.id}`;\n    }\n  }\n\n  staticData.lastReviewedByRepo[dedupeKey] = commitSha;\n  const auditEntry = audit(packet.risk, messageLink);\n\n  return [{\n    json: {\n      reviewed_at: nowIso(),\n      trigger_mode: input.trigger_mode,\n      event_action: input.event_action,\n      repo_identifier: repoIdentifier,\n      branch,\n      commit_sha: commitSha,\n      review_packet: packet,\n      formatted_message: message,\n      destination,\n      message_link: messageLink,\n      audit_entry: auditEntry,\n      limitations: reviewContext.limitations,\n      post_response_preview: postResp?.ok ?? postResp?.id ?? null,\n    },\n  }];\n} catch (error) {\n  audit('error', '', error.message);\n  throw new Error(`Repository review workflow failed for ${repoIdentifier}: ${error.message}. Check credentials, rate limits, webhook payload, and repository access.`);\n}"}},{"id":"node-log-skipped","name":"Log Skipped Event","type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,20],"parameters":{"language":"javaScript","mode":"runOnceForAllItems","jsCode":"const item = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!Array.isArray(staticData.auditLog)) staticData.auditLog = [];\n\nconst entry = {\n  timestamp: new Date().toISOString(),\n  pr_identifier: item.pr_identifier || 'unknown',\n  commit_sha: item.reviewed_sha || 'unknown',\n  risk_level: 'ignored_event',\n  message_link: '',\n  note: item.skip_reason || 'Event ignored before review.',\n};\n\nstaticData.auditLog.unshift(entry);\nstaticData.auditLog = staticData.auditLog.slice(0, 500);\n\nreturn [{ json: { skipped: true, reason: item.skip_reason || 'Event ignored.', audit_entry: entry } }];"}}],"connections":{"Webhook Auto":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Webhook Manual":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Should Process Event","type":"main","index":0}]]},"Should Process Event":{"main":[[{"node":"PR Review + Notify","type":"main","index":0}],[{"node":"Log Skipped Event","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"global":{"lastReviewedByPr":{"octocat/Hello-World#1":"7044a8a032e85b6ab611033b2ac8af7ce85805b2"},"auditLog":[{"timestamp":"2026-03-02T02:50:05.354Z","repo_identifier":"sai-shashankN/SupplyMate","commit_sha":"124cc25a27a6dd5004d72f00b1cb5d720c5fed79","risk_level":"medium","message_link":""},{"timestamp":"2026-03-02T02:41:01.659Z","repo_identifier":"sai-shashankN/SupplyMate","commit_sha":"124cc25a27a6dd5004d72f00b1cb5d720c5fed79","risk_level":"medium","message_link":""},{"timestamp":"2026-03-02T02:40:28.625Z","repo_identifier":"sai-shashankN/SupplyMate","commit_sha":"124cc25a27a6dd5004d72f00b1cb5d720c5fed79","risk_level":"medium","message_link":""},{"timestamp":"2026-03-02T02:30:33.128Z","repo_identifier":"sai-shashankN/SupplyMate","commit_sha":"124cc25a27a6dd5004d72f00b1cb5d720c5fed79","risk_level":"duplicate_skip","message_link":"","note":"Same commit already reviewed; skipped to prevent spam."},{"timestamp":"2026-03-02T02:27:11.982Z","repo_identifier":"sai-shashankN/SupplyMate","commit_sha":"124cc25a27a6dd5004d72f00b1cb5d720c5fed79","risk_level":"medium","message_link":""},{"timestamp":"2026-03-02T02:17:24.290Z","pr_identifier":"unknown","commit_sha":"unknown","risk_level":"ignored_event","message_link":"","note":"Manual mode requires a valid GitHub PR URL in body.pr_url, e.g. https://github.com/owner/repo/pull/123"},{"timestamp":"2026-03-02T02:17:04.872Z","pr_identifier":"unknown","commit_sha":"unknown","risk_level":"ignored_event","message_link":"","note":"Manual mode requires a valid GitHub PR URL in body.pr_url, e.g. https://github.com/owner/repo/pull/123"},{"timestamp":"2026-03-02T02:08:08.585Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"7044a8a032e85b6ab611033b2ac8af7ce85805b2","risk_level":"duplicate_skip","message_link":"","note":"Same commit already reviewed; skipped to prevent spam."},{"timestamp":"2026-03-02T02:01:59.268Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"7044a8a032e85b6ab611033b2ac8af7ce85805b2","risk_level":"duplicate_skip","message_link":"","note":"Same commit already reviewed; skipped to prevent spam."},{"timestamp":"2026-03-02T02:01:55.128Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"7044a8a032e85b6ab611033b2ac8af7ce85805b2","risk_level":"low","message_link":""},{"timestamp":"2026-03-02T01:54:14.308Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"unknown","risk_level":"error","message_link":"","note":"Get PR metadata failed after 3 attempt(s). Status=n/a. fetch is not defined"},{"timestamp":"2026-03-02T01:54:09.286Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"unknown","risk_level":"error","message_link":"","note":"Get PR metadata failed after 3 attempt(s). Status=n/a. fetch is not defined"},{"timestamp":"2026-03-02T01:52:36.507Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"unknown","risk_level":"error","message_link":"","note":"Get PR metadata failed after 3 attempt(s). Status=n/a. $helpers is not defined"},{"timestamp":"2026-03-02T01:52:31.472Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"unknown","risk_level":"error","message_link":"","note":"Get PR metadata failed after 3 attempt(s). Status=n/a. $helpers is not defined"},{"timestamp":"2026-03-02T01:52:24.607Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"unknown","risk_level":"error","message_link":"","note":"Get PR metadata failed after 3 attempt(s). Status=n/a. $helpers is not defined"},{"timestamp":"2026-03-02T01:52:19.570Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"unknown","risk_level":"error","message_link":"","note":"Get PR metadata failed after 3 attempt(s). Status=n/a. $helpers is not defined"},{"timestamp":"2026-03-02T01:50:11.021Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"unknown","risk_level":"error","message_link":"","note":"Missing required env var GITHUB_TOKEN"},{"timestamp":"2026-03-02T01:50:08.991Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"unknown","risk_level":"error","message_link":"","note":"Missing required env var GITHUB_TOKEN"},{"timestamp":"2026-03-02T01:45:46.857Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"unknown","risk_level":"error","message_link":"","note":"Missing required env var GITHUB_TOKEN"},{"timestamp":"2026-03-02T01:45:44.823Z","pr_identifier":"octocat/Hello-World#1","commit_sha":"unknown","risk_level":"error","message_link":"","note":"Missing required env var GITHUB_TOKEN"}],"lastReviewedByRepo":{"sai-shashankN/SupplyMate@main":"124cc25a27a6dd5004d72f00b1cb5d720c5fed79"}}},"meta":null,"pinData":null,"versionId":"bf49a2c6-bb03-4782-8a8f-a26c780cadf3","activeVersionId":"bf49a2c6-bb03-4782-8a8f-a26c780cadf3","versionCounter":42,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-03-02T01:43:37.355Z","createdAt":"2026-03-02T01:43:37.355Z","role":"workflow:owner","workflowId":"DJXtUlHws7xs3tOA","projectId":"tCY3gjSHOHmRmHkJ","project":{"updatedAt":"2025-12-08T11:07:43.324Z","createdAt":"2025-12-08T10:51:25.828Z","id":"tCY3gjSHOHmRmHkJ","name":"Sai Shashank Narang <saishashanknarang@gmail.com>","type":"personal","icon":null,"description":null}}]}]